{% extends 'admin/dsbrd.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Page</title>
</head>
<body>
    {% block content %}
    <center>
        <div class="d-flex justify-content-center">
            <h2 class="heading_style">Booking Page</h2>
        </div><br>
        <form method="post" action="{% url 'add-admin-booking' %}">
            {% csrf_token %}

            <div class="form-group">
                <label for="customer_email">Customer Email:</label>
                <input type="text" id="customer_email" name="customer_email" placeholder="Enter customer email" value="{{ form.email }}" required>
            </div>
            <div class="form-group">
                <label for="customer_name">Customer Name:</label>
                <input type="text" id="customer_name" name="customer_name" placeholder="Enter customer name" value="{{ form.name }}" required>
            </div>

            <div class="form-group">
                <label for="customer_phone">Customer Phone:</label>
                <input type="text" id="customer_phone" name="customer_phone" placeholder="Enter customer phone number" value="{{ form.phone }}"  required>
            </div>

            <div class="form-group">
                <label for="pick_address">Pick Address:</label>
                <select id="pick_address" name="pick_address" required>
                    {% comment %} <option value="">Select Pick Address</option> {% endcomment %}

                    {% comment %} <option value="" {% if form.pick_address == '' %}selected{% endif %}>Select Pick Address</option> {% endcomment %}
                    {% for city in cities %}
                    
                    <option value="{{ city.id }}" {% if city.id == form.pick_address %}selected{% endif %}>
                        {{ city.name }}
                    </option>
                    {% endfor %}
                    
                </select>
            </div>

            <div class="form-group">
                <label for="deliver_address">Deliver Address:</label>
                <select id="deliver_address" name="deliver_address" required>
                    {% comment %} <option value="">Select Deliver Address</option> {% endcomment %}

                    {% comment %} <option value="" {% if form.deliver_address == '' %}selected{% endif %}>Select Deliver Address</option> {% endcomment %}
                    {% for city in cities %}
                    <option value="{{ city.id }}" {% if city.id == form.deliver_address %}selected{% endif %}>
                        {{ city.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="parcel_type">Parcel Type:</label>
                <select id="parcel_type" name="parcel_type" value="{{ form.parcel_type }}" required>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
            </div>

            <div class="form-group">
                <label>Payment Type:</label>
                <input type="radio" id="payment_cod" name="payment_type" value={{form.payment_type}} required checked="true">
                <label for="payment_cod">Cash on Delivery</label>
            </div>

            <div class="form-group">
                <button type="submit" name="action" value="estimate">Get Estimate</button>
                <button type="submit" name="action" value="confirm">Accept payment & Confirm Booking</button>
                {% comment %} <button type="submit" name="action" value="cancel">Cancel Booking</button> {% endcomment %}
                <a href = "/bookinglist/" class="button" style="background-color: #87cefa;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;"> Cancle</a>
            </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </form>
    </center>
    {% endblock %}
</body>
</html>
