{% extends 'admin/dsbrd.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Page</title>
</head>
<body>
    {% block content %}
    {% comment %} <center> {% endcomment %}
        <div class="d-flex justify-content-between">

            {% comment %} <h2>Order is #<b>{{ booking.parcel.tracking_id }}</b></h2> {% endcomment %}
            <span></span>
            <a class="button" href="/booking-list/" class="mr-4" onclick="return confirm('Go Back to Previous Page');" >Back</a>
        </div>

    <div class="row">
        <div class="col-2">
    </div>
            <div class="col-8">
                <div class="d-flex justify-content-center">
                    <h2 class="heading_style">Booking Page</h2>
                </div><br>
            <form method="post" action="{% url 'add-admin-booking' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="customer_email">Customer Email:</label>
                    <input type="text" class="form-control" id="customer_email" name="customer_email" placeholder="Enter customer email" value="{{ form.email }}" required>
                </div>
                <div class="form-group">
                    <label for="customer_name">Customer Name:</label>
                    <input type="text"class="form-control"  id="customer_name" name="customer_name" placeholder="Enter customer name" value="{{ form.name }}" required>
                </div>

                <div class="form-group">
                    <label for="customer_phone">Customer Phone:</label>
                    <input type="text" class="form-control" id="customer_phone" name="customer_phone" placeholder="Enter customer phone number" value="{{ form.phone }}"  required>
                </div>

                <div class="form-group">
                    <label for="pick_address">From City:</label>
                    <select id="pick_address" class="form-control" name="pick_address" required>
                        {% comment %} <option value="">Select Pick Address</option> {% endcomment %}

                        {% comment %} <option value="" {% if form.pick_address == '' %}selected{% endif %}>Select Pick Address</option> {% endcomment %}
                        <option value="">From City</option>
                        {% for city in cities %}
                        <option value="{{ city.id }}" {% if city.id == form.pick_address %}selected{% endif %}>
                            {{ city.name }}
                        </option>
                        {% endfor %}
                        
                    </select>
                </div>

                <div class="form-group">
                    <label for="deliver_address">To City:</label>
                    <select id="deliver_address" class="form-control" name="deliver_address" required>
                        {% comment %} <option value="">Select Deliver Address</option> {% endcomment %}

                        {% comment %} <option value="" {% if form.deliver_address == '' %}selected{% endif %}>Select Deliver Address</option> {% endcomment %}
                        <option value="">To City</option>  

                        {% for city in cities %}
                        <option value="{{ city.id }}" {% if city.id == form.deliver_address %} selected{% endif %}>
                            {{ city.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="parcel_type">Parcel Type:</label>
                    <select id="parcel_type" class="form-control" name="parcel_type" value="{{ form.parcel_type }}" required>
                        <option value="small" {% if form.parcel_type == 'small' %}selected{% endif %}>Small</option>
                        <option value="medium" {% if form.parcel_type == 'medium'%}selected{% endif %}>Medium</option>
                        <option value="large" {% if form.parcel_type == 'large' %}selected{% endif %}>Large</option>
                    </select>
                </div>

                {% comment %} <div class="form-group">
                    <label>Payment Type:</label>
                    <input type="radio"  class="form-control" id="payment_cod" name="payment_type" value={{form.payment_type}} required checked="true">
                    <label for="payment_cod">Cash</label>
                </div> {% endcomment %}

                <label for="payment_cod">Payment Type:</label>
            
                <div class="form-check">
                    <input type="radio" id="payment_cod" class="form-check-input" name="payment_type" value="cod" required checked="true">
                    <label class="form-check-label" for="payment_cod">Cash</label>
                </div>
                
                <div class="form-group">
                    <button type="submit" name="action" value="estimate">Get Estimate</button>
                    <button type="submit" name="action" value="confirm">Accept payment & Confirm Booking</button>
                    <button type="submit" name="action" value="cancel">Cancel Booking</button>

                    {% comment %} <button type="submit" name="action" value="cancel">Cancel Booking</button> {% endcomment %}
                    {% comment %} <a href = "/emp-booking-list/" class="button" style="background-color: #87cefa;border: none;color: 
                    #fff;padding: 10px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 
                    16px;border-radius: 4px;cursor: pointer;"> Cancle</a> {% endcomment %}
                </div>

                {% comment %} {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                 {% endcomment %}
                 {% if messages %}
                 <div class="messages">
                     {% for message in messages %}
                         <div class="alert alert-{{ message.tags }}">
                             {{ message }}
                         </div>
                     {% endfor %}
                 </div>
             {% endif %}
             

                
            </form>
    </center>
    {% endblock %}
</body>
</html>
