{% extends 'admin/dsbrd.html' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Delivery Route</title>
    <link rel="stylesheet" href="/static/css/createstyles.css"> <!-- Include the same CSS -->
</head>
<body>
    {% block content %}
    <div class="d-flex justify-content-center">
        <div>
            <h1>Create Delivery Route</h1>

            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="from_city">From City:</label>
                    <select id="from_city" name="from_city" class="form-control" required>
                        {% for city in cities %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="to_city">To City:</label>
                    <select id="to_city" name="to_city" class="form-control" required>
                        {% for city in cities %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="distance_km">Distance (km):</label>
                    <input type="number" id="distance_km" name="distance_km" class="form-control" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="mb-2" onclick="return confirm('Do You Want to Add a New Data?')">Save</button>
                    <a href="/delivery-route-list/" class="button" onclick="return confirm('Go Back to Previous Page');" >Back</a>
                </div>

                {% if messages %}
                <div class="alert alert-{{ messages.tags }}">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>
