{% extends 'admin/custdsbrd.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Country</title>
    <link rel="stylesheet" href="/static/css/createstyles.css">
</head>
<body>
    {% block content %}
    <div class="container">
        <!-- Optional Heading: Uncomment if needed -->
        <!-- <h1>Create Country</h1> -->

        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-25">
                    <label for="name">Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="name" name="name" required><br>
                </div>
            </div>

            <!-- Optional fields can be added here as needed -->

            <div class="row">
                <button type="submit" onclick="return confirm('Do You Want to Add a New Data?')">Save</button>
                <a href="/country-list/" class="link-button ml-6">Back</a>
            </div>

            {% if messages %}
            <div class="messages">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </form>
    </div>
    {% endblock %}
</body>
</html>
