{% extends 'admin/custdsbrd.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create City</title>
    <link rel="stylesheet" href="/static/css/createstyles.css">


</head>
<body>
    {% block content %}
    <div class="container">        
        {% comment %} <h1>Add City</h1> {% endcomment %}
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-25">
                    <label for="name">Name:</label>
                </div>
                <div class="col-75">

                    <input  class="form-control" type="text" id="name" name="name" required><br>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="state">State:</label>
                </div>
                <div class="col-75">
                    <select id="state" name="state" required>
                        {% for state in states %}
                            <option value="{{ state.id }}">{{ state.name }}</option>
                        {% endfor %}
                    </select><br>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="address">Address:</label>
                </div>
                <div class="col-75">
                    <textarea id="address"   class="form-control" name="address" required>{{ city.address }}</textarea><br>
                </div>
            </div>

            <div class="row">
                <button type="submit">Save</button> 
                <a href="/city-list/" class="link-button ml-6">Back</a>
            </div>

            {% if messages %}
            <div class="alert alert-{{ message.tags }}">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </form>
    </div>
    {% endblock %}
</body>
</html>
