{% extends 'admin/dsbrd.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Create City</title>
</head>
<body>
    {% block content %}
    <center>
    <h1>Add</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="state">State:</label>
        <select id="state" name="state" required>
            {% for state in states %}
                <option value="{{ state.id }}">{{ state.name }}</option>
            {% endfor %}
        </select><br>
        
        <button type="submit" onclick = "window.alert('Do You Want to Add a New Data ?')">Save</button>
    </form>
    <a href="/city-list/" class="button">Back</a>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</center>
{% endblock %}
</body>
</html>
