{% extends 'admin/dsbrd.html' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Parcel Status</title>
    <link rel="stylesheet" href="/static/css/createstyles.css"> <!-- Include the same CSS -->
</head>
<body>
    {% block content %}
    <div class="d-flex justify-content-center">
        <div>
            <h1>Create Parcel Status</h1>

            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="parcel">Parcel:</label>
                    <select id="parcel" name="parcel" class="form-control" required>
                        {% for parcel in parcels %}
                            <option value="{{ parcel.parcel_type }}">{{ parcel.parcel_type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="status">Status:</label>
                    <input type="text" id="status" name="status" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="updated_by_user">Updated By:</label>
                    <select id="updated_by_user" name="updated_by_user" class="form-control" required>
                        {% for user in users %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="updated_at">Updated At:</label>
                    <input type="datetime-local" id="updated_at" name="updated_at" class="form-control" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="mb-2" onclick="return confirm('Do You Want to Add a New Data?')">Save</button>
                    <a href="/parcel-status-list/" class="button">Back</a>
                </div>

                {% if messages %}
                <div class="alert alert-{{ messages.tags }}">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>
