{% extends 'admin/dsbrd.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Customer Table</title>
</head>
<body>
    {% block content %}
    <center>
        <h1>Customer Table</h1>
        <a href="/create-customer/" class="button">Add</a>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Customer Name</th>
                <th>Password</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.user.username }}</td>
                <td>{{ customer.user.first_name }} {{ customer.user.last_name }}</td>
                <td>{{ customer.user.password }}</td>
                <td>{{ customer.phone_number }}</td>
                <td>{{ customer.address }}</td>
                
                <td>
                    <a href="/update-customer/{{ customer.id }}/" class="button">Edit</a>
                </td>
                
            </tr>
            
            {% endfor %}
        </table>
        {% for customer in customers %}
        {% empty %}
            No Data found
        {% endfor %}
    </center>
    {% endblock %}
</body>
</html>
