{% extends 'admin/dsbrd.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Customer Table</title>
</head>
<body>
    {% block content %}
    <center>
        <div class="d-flex justify-content-between">

            {% comment %} <h2>Order is #<b>{{ booking.parcel.tracking_id }}</b></h2> {% endcomment %}
            <span></span>
            <a class="button" href="/admin-dashboard/" class="mr-4" onclick="return confirm('Go Back to Previous Page');">Back</a>
        </div>
        <h1>Customer Table</h1>
        <a href="/create-customer/" class="button" onclick="return confirm('do you want to add new data?');">Add</a>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Customer Name</th>
                {% comment %} <th>Password</th> {% endcomment %}
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.user.username }}</td>
                <td>{{ customer.user.first_name }} {{ customer.user.last_name }}</td>
                {% comment %} <td>{{ customer.user.password }}</td> {% endcomment %}
                <td>{{ customer.phone_number }}</td>
                <td>{{ customer.user.email}}</td>
                <td>{{ customer.address }}</td>
                
                <td>
                    <a href="/update-customer/{{ customer.id }}/" class="button" onclick="return confirm('do you want to Update the existing data?');">Edit</a>
                </td>
                
            </tr>
            
            {% endfor %}
        </table>
        {% for customer in customers %}
        {% empty %}
            No Data found
        {% endfor %}
    </center>
    {% endblock %}
</body>
</html>
