{% extends 'admin/dsbrd.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Delivery Route</title>
</head>
<body>
    {% block content %}
    <center>
    <h1>Are you sure you want to delete the delivery route with ID {{ deliveryroute.id }}?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" onclick = "window.alert('Do You Want to Remove The Data ?')">Delete</button>
    </form>
    <a href="/deliveryroutelist/" class="button">Cancel</a>
</center>
{% endblock %}
</body>
</html>
