<!DOCTYPE html>
<html lang="en">
   {% load static %}
   <head>
      <title>Current Page</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="/static/dist/css/adminx.css" media="screen" />
      {% comment %} TABLE CSS {% endcomment %}
      <style>
         body {
         font-family: Arial, sans-serif;
         background-color: #f0f8ff; 
         color: #333;
         }
         table {
         width: 100%;
         margin: 20px auto;
         border-collapse: collapse;
         }
         th, td {
         padding: 10px;
         text-align: Center;
         border: 1px solid #add8e6; 
         }
         th {
         background-color: #1187d0; 
         color: #fff;
         }
         tr:nth-child(even) {
         background-color: #f0f8ff; 
         }
         tr:nth-child(odd) {
         background-color: #ffffff; 
         }
         a.button {
         display: inline-block;
         margin: 5px;
         background-color: #1187d0; 
         color: #fff;
         padding: 10px 12px;
         text-align: center;
         text-decoration: none;
         border-radius: 4px;
         font-size: 14px;
         border: 1px solid #1187d0; 
         transition: background-color 0.3s, border-color 0.3s;
         }
         a.button:hover {
         background-color: #4682b4; 
         border-color: #4682b4; 
         }
         {% comment %} FORM CSS {% endcomment %}
      
      </style>
      <style>
         body {
         font-family: Arial, sans-serif;
         background-color: #f0f8ff; 
         color: #333;
         }
         h1 {
         color: #4682b4; 
         }
         label {
         display: block;
         margin-bottom: 8px;
         color: #333;
         }
         button {
         background-color: #1187d0; 
         border: none;
         color: #fff;
         padding: 10px 15px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         border-radius: 4px;
         cursor: pointer;
         }
         button:hover {
         background-color: #4682b4; 
         }
         a {
         display: inline-block;
         margin-top: 10px;
         color: #4682b4; 
         text-decoration: none;
         padding: 10px 12px;
         }
         a:hover {
         text-decoration: underline;
         }
      </style>
      <!--0
         # Optional Resources
         Feel free to delete these if you don't need them in your project
         -->
   </head>
   <body>
      <div class="adminx-container">
         <nav class="navbar navbar-expand justify-content-between fixed-top">
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="/admin-dashboard">
            <img src="\static\images\logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt=""> Shubh Laxmi Cargo Movers
            </a>
            <form class="form-inline form-quicksearch d-none d-md-block mx-auto">
               <div class="input-group">
                  <div class="input-group-prepend">
                     <div class="input-group-icon">
                        <i data-feather="search"></i>
                     </div>
                  </div>
                  <input type="text" class="form-control" id="search" name="searchinput" placeholder="Type to search..."   value="{{ request.GET.searchinput }} ">
               </div>
            </form>
            
            <div class="d-flex flex-1 d-block d-md-none">
               <a href="#" class="sidebar-toggle ml-3">
               <i data-feather="menu"></i>
               </a>
            </div>
            <li class="nav-item dropdown d-flex align-items-center mx-2">
                Hi, {{username}}
            </li>
            <ul class="navbar-nav d-flex justify-content-end mr-2">
               
               <li class="nav-item dropdown">
                  <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
                  <img src="\static\images\menu.jpg" class="d-inline-block align-top" alt="">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="/admin-profile/">My Profile</a>
                     {% comment %} <a class="dropdown-item" href="/admin-change-password/">Change Password</a> {% endcomment %}
                     {% comment %} <a class="dropdown-item" href="/admin-login/">Logout</a> {% endcomment %}
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item text-danger" href="/signout">Sign out</a>
                  </div>
               </li>
            </ul>
         </nav>
         <!-- expand-hover push -->
         <!-- Sidebar -->
         <div class="adminx-sidebar expand-hover push">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item">
                <a href="/admin-dashboard" class="sidebar-nav-link active">
                <span class="sidebar-nav-icon">
                <i data-feather="home"></i>
                </span>
                <span class="sidebar-nav-name">
                Home
                </span>
                <span class="sidebar-nav-end">
                </span>
                </a>
                </li>
                <li class="sidebar-nav-item">
                <a href="/booking-payment/" class="sidebar-nav-link active">
                <span class="sidebar-nav-icon">
                <strong>P</strong>
                </span>
                <span class="sidebar-nav-name">
                Accept payment
                </span>
                </a>
                </li>
                <li class="sidebar-nav-item">
                  <ul class="sidebar-nav">
                     <li class="sidebar-nav-item">
                         <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navConfigTables" aria-expanded="false" aria-controls="navTables">
                         <span class="sidebar-nav-icon">
                         <i data-feather="settings"></i>
                         </span>
                         <span class="sidebar-nav-name">
                         Configurations
                         </span>
                         <span class="sidebar-nav-end">
                         <i data-feather="chevron-right" class="nav-collapse-icon"></i>
                         </span>
                         </a>
                         <ul class="sidebar-sub-nav collapse" id="navConfigTables">
                             
                             <li class="sidebar-nav-item">
                             <a href="/country-list/" class="sidebar-nav-link">
                             <span class="sidebar-nav-abbr">
                             </span>
                             <span class="sidebar-nav-name">
                             <b>Country</b>
                             </span>
                             </a>
                             </li>
                             <li class="sidebar-nav-item">
                             <a href="/state-list/" class="sidebar-nav-link">
                             <span class="sidebar-nav-abbr">
                             </span>
                             <span class="sidebar-nav-name">
                             <b>State</b>
                             </span>
                             </a>
                             </li>
                             <li class="sidebar-nav-item">
                             <a href="/city-list/" class="sidebar-nav-link">
                             <span class="sidebar-nav-abbr">
                             </span>
                             <span class="sidebar-nav-name">
                             <b>City</b>
                             </span>
                             </a>
                             </li>
                             <li class="sidebar-nav-item">
                             <a href="/pricing-list/" class="sidebar-nav-link">
                             <span class="sidebar-nav-abbr">
                             </span>
                             <span class="sidebar-nav-name">
                             <b>Pricing</b>
                             </span>
                             </a>
                             </li>
                             <li class="sidebar-nav-item">
                             <a href="/delivery-route-list/" class="sidebar-nav-link">
                             <span class="sidebar-nav-abbr">
                             </span>
                             <span class="sidebar-nav-name">
                             <b>Delivery Route</b>
                             </span>
                             </a>
                             </li>
                         </ul>
                     </li>
                 </ul>
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-item">
                        <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navTables" aria-expanded="false" aria-controls="navTables">
                        <span class="sidebar-nav-icon">
                        <i data-feather="align-justify"></i>
                        </span>
                        <span class="sidebar-nav-name">
                        Tables
                        </span>
                        <span class="sidebar-nav-end">
                        <i data-feather="chevron-right" class="nav-collapse-icon"></i>
                        </span>
                        </a>
                        <ul class="sidebar-sub-nav collapse" id="navTables">
                            <li class="sidebar-nav-item">
                            <a href="/user-list/" class="sidebar-nav-link">
                            <span class="sidebar-nav-abbr">
                            </span>
                            <span class="sidebar-nav-name">
                            <b>Users</b>
                            </span>
                            </a>
                            </li>
                            <li class="sidebar-nav-item">
                            <a href="/admin-list/" class="sidebar-nav-link">
                            <span class="sidebar-nav-abbr">
                            </span>
                            <span class="sidebar-nav-name">
                            <b>Admin</b>
                            </span>
                            </a>
                            </li>
                            <li class="sidebar-nav-item">
                            <a href="/customer-list/" class="sidebar-nav-link">
                            <span class="sidebar-nav-abbr">
                            </span>
                            <span class="sidebar-nav-name">
                            <b>Customer</b>
                            </span>
                            </a>
                            </li>
                            <li class="sidebar-nav-item">
                            <a href="/employee-list/" class="sidebar-nav-link">
                            <span class="sidebar-nav-abbr">
                            </span>
                            <span class="sidebar-nav-name">
                            <b>Employee</b>
                            </span>
                            </a>
                            </li>
                            {% comment %} <li class="sidebar-nav-item">
                            <a href="/country-list/" class="sidebar-nav-link">
                            <span class="sidebar-nav-abbr">
                            </span>
                            <span class="sidebar-nav-name">
                            <b>Country</b>
                            </span>
                            </a>
                            </li> {% endcomment %}
                            {% comment %} <li class="sidebar-nav-item">
                            <a href="/state-list/" class="sidebar-nav-link">
                            <span class="sidebar-nav-abbr">
                            </span>
                            <span class="sidebar-nav-name">
                            <b>State</b>
                            </span>
                            </a>
                            </li> {% endcomment %}
                            {% comment %} <li class="sidebar-nav-item">
                            <a href="/city-list/" class="sidebar-nav-link">
                            <span class="sidebar-nav-abbr">
                            </span>
                            <span class="sidebar-nav-name">
                            <b>City</b>
                            </span>
                            </a>
                            </li> {% endcomment %}
                          
                            {% comment %} <li class="sidebar-nav-item">
                            <a href="/pricing-list/" class="sidebar-nav-link">
                            <span class="sidebar-nav-abbr">
                            </span>
                            <span class="sidebar-nav-name">
                            <b>Price</b>
                            </span>
                            </a>
                            </li> {% endcomment %}

                            {% comment %} <li class="sidebar-nav-item">
                            <a href="/delivery-route-list/" class="sidebar-nav-link">
                            <span class="sidebar-nav-abbr">
                            </span>
                            <span class="sidebar-nav-name">
                            <b>Delivery Route</b>
                            </span>
                            </a>
                            </li> {% endcomment %}

                            <li class="sidebar-nav-item">
                            <a href="/booking-list/" class="sidebar-nav-link">
                            <span class="sidebar-nav-abbr">
                            </span>
                            <span class="sidebar-nav-name">
                            <b>Bookings</b>
                            </span>
                            </a>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="/parcel-list/" class="sidebar-nav-link">
                                    <span class="sidebar-nav-abbr">
                                    </span>
                                    <span class="sidebar-nav-name">
                                        <b>Parcel</b>
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="/feedback-list/" class="sidebar-nav-link">
                                    <span class="sidebar-nav-abbr">
                                    </span>
                                    <span class="sidebar-nav-name">
                                        <b>Feedback</b>
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-nav-item">
                              <a href="/invoice-list/" class="sidebar-nav-link">
                                  <span class="sidebar-nav-abbr">
                                  </span>
                                  <span class="sidebar-nav-name">
                                      <b>Invoice</b>
                                  </span>
                              </a>
                          </li>
                          <li class="sidebar-nav-item">
                            <a href="/contactlist/" class="sidebar-nav-link">
                                <span class="sidebar-nav-abbr">
                                </span>
                                <span class="sidebar-nav-name">
                                    <b>Messages</b>
                                </span>
                            </a>
                        </li>
                        </ul>
                    </li>
                </ul>
                </li>

                <li class="sidebar-nav-item">
                    <ul class="sidebar-nav">
                        <li class="sidebar-nav-item">
                            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navReports" aria-expanded="false" aria-controls="navReports">
                            <span class="sidebar-nav-icon">
                            <i data-feather="file-text"></i>
                            </span>
                            <span class="sidebar-nav-name">
                            Reports
                            </span>
                            <span class="sidebar-nav-end">
                            <i data-feather="chevron-right" class="nav-collapse-icon"></i>
                            </span>
                            </a>
                            <ul class="sidebar-sub-nav collapse" id="navReports">
                                <li class="sidebar-nav-item">
                                    <a href="/booking-report/" class="sidebar-nav-link">
                                    <span class="sidebar-nav-abbr">
                                    {% comment %} <img src="\static\images\admin.png" alt="" height="25px" width="25px"> {% endcomment %}
                                    </span>
                                    <span class="sidebar-nav-name">
                                    <b>Bookings</b>
                                    </span>
                                    </a>
                                </li>
                                
                                <li class="sidebar-nav-item">
                                        <a href="/booked-report/" class="sidebar-nav-link">
                                        <span class="sidebar-nav-abbr">
                                        {% comment %} <img src="\static\images\admin.png" alt="" height="25px" width="25px"> {% endcomment %}
                                        </span>
                                        <span class="sidebar-nav-name">
                                        <b>Booked Bookings</b>
                                        </span>
                                        </a>
                                </li>
                                <li class="sidebar-nav-item">
                                    <a href="/in-transit-report/" class="sidebar-nav-link">
                                    <span class="sidebar-nav-abbr">
                                    {% comment %} <img src="\static\images\admin.png" alt="" height="25px" width="25px"> {% endcomment %}
                                    </span>
                                    <span class="sidebar-nav-name">
                                    <b>In-Transit Bookings</b>
                                    </span>
                                    </a>
                                </li>
                                <li class="sidebar-nav-item">
                                    <a href="/delivered-report/" class="sidebar-nav-link">
                                    <span class="sidebar-nav-abbr">
                                    {% comment %} <img src="\static\images\admin.png" alt="" height="25px" width="25px"> {% endcomment %}
                                    </span>
                                    <span class="sidebar-nav-name">
                                    <b>Delivered Bookings</b>
                                    </span>
                                    </a>
                                </li>
                                <li class="sidebar-nav-item">
                                    <a href="/pending-payment-report/" class="sidebar-nav-link">
                                    <span class="sidebar-nav-abbr">
                                    {% comment %} <img src="\static\images\admin.png" alt="" height="25px" width="25px"> {% endcomment %}
                                    </span>
                                    <span class="sidebar-nav-name">
                                    <b>Pending Payment Bookings</b>
                                    </span>
                                    </a>
                                </li>
                                <li class="sidebar-nav-item">
                                    <a href="/arrived-report/" class="sidebar-nav-link">
                                    <span class="sidebar-nav-abbr">
                                    {% comment %} <img src="\static\images\admin.png" alt="" height="25px" width="25px"> {% endcomment %}
                                    </span>
                                    <span class="sidebar-nav-name">
                                    <b>Arrived Bookings</b>
                                    </span>
                                    </a>
                                </li>
                                <li class="sidebar-nav-item">
                                    <a href="/admin-report/" class="sidebar-nav-link">
                                    <span class="sidebar-nav-abbr">
                                    {% comment %} <img src="\static\images\admin.png" alt="" height="25px" width="25px"> {% endcomment %}
                                    </span>
                                    <span class="sidebar-nav-name">
                                    <b>Admin</b>
                                    </span>
                                    </a>
                                </li>
                                <li class="sidebar-nav-item">
                                    <a href="/employee-report/" class="sidebar-nav-link">
                                    <span class="sidebar-nav-abbr">
                                    {% comment %} <img src="\static\images\customer.png" alt="" height="25px" width="25px"> {% endcomment %}
                                    </span>
                                    <span class="sidebar-nav-name">
                                    <b>Employee</b>
                                    </span>
                                    </a>
                                </li>
                                
                                <li class="sidebar-nav-item">
                                    <a href="/customer-report/" class="sidebar-nav-link">
                                    <span class="sidebar-nav-abbr">
                                    {% comment %} <img src="\static\images\customer.png" alt="" height="25px" width="25px"> {% endcomment %}
                                    </span>
                                    <span class="sidebar-nav-name">
                                    <b>Customer</b>
                                    </span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
         <!-- Sidebar End -->
         <!-- adminx-content-aside -->
         <div class="adminx-content">
         <!-- <div class="adminx-aside"></div> -->
         <!-- DROP YOUR TABLES AND FORM HERE -->
         <!-- 
            -->
         {% block content %} {% endblock %}
         </div>
      </div>
      <!-- If you prefer jQuery these are the required scripts -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
      <script src="/static/dist/js/vendor.js"></script>
      <script src="/static/dist/js/adminx.js"></script>
      <!-- If you prefer vanilla JS these are the only required scripts -->
      <!-- script src="./dist/js/vendor.js"></script>
         <script src="./dist/js/adminx.vanilla.js"></script-->
   </body>
</html>