{% extends 'admin/dsbrd.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Pricing Table</title>
</head>
<body>
    {% block content %}
    <center>
        <div class="d-flex justify-content-between">

            {% comment %} <h2>Order is #<b>{{ booking.parcel.tracking_id }}</b></h2> {% endcomment %}
            <span></span> 
            <a class="button" href="/admin-dashboard/" class="mr-4" onclick="return confirm('Go Back to Previous Page');" >Back</a>
        </div>
    <h1>Pricing Table</h1>
    <a href="/create-pricing/" class="button" onclick="return confirm('do you want to add new data?');">Add</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Base Price</th>
            <th>Price Per Km</th>
            <th>Price Per Kg</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>

        {% for pricing in pricings %}
        <tr>
            <td>{{ pricing.id }}</td>
            <td>{{ pricing.base_price }}</td>
            <td>{{ pricing.price_per_km }}</td>
            <td>{{ pricing.price_per_kg }}</td>
            <td>{{ pricing.created_at }}</td>
            <td>{{ pricing.updated_at }}</td>
            <td>
                <a href="/update-pricing/{{ pricing.id }}/" class="button" onclick="return confirm('do you want to Update the existing data?');" >Edit</a>
                <a href="/delete-pricing/{{ pricing.id }}/" class="button" onclick="return confirm('Do you want to Remove the existing data?');">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% for pricing in pricings %}
    {% empty %}
        No Data found
    {% endfor %} 
</center>
{% endblock %}
</body>
</html>
