{% extends 'admin/dsbrd.html' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update City</title>
    <link rel="stylesheet" href="/static/css/createstyles.css">
</head>
<body>
    {% block content %}
    <div class="d-flex justify-content-center">
        <div>
            <h1>Update City</h1>

            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" value="{{ city.name }}" required placeholder="Name">
                </div>

                <div class="form-group">
                    <label for="state">State</label>
                    <select id="state" name="state" class="form-control" required>
                        {% for state in states %}
                            <option value="{{ state.id }}" {% if state.id == city.state.id %}selected{% endif %}>
                                {{ state.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea id="address" name="address" class="form-control" required placeholder="Address">{{ city.address }}</textarea>
                </div>

                <button type="submit" class="mb-2" onclick="return confirm('Do You Want to Change The Data?')">Update</button>
                <a href="/city-list/" class="button">Back</a>

                {% if messages %}
                <ul style="list-style-type: none; padding: 0; margin: 0;">
                    {% for message in messages %}
                        <li style="color: red; background-color: pink; padding: 10px; margin-bottom: 5px; border-radius: 4px;">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>
