{% extends "home/hf.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Page</title>
</head>
<body>
    {% block page %}
    <center>
        <div class="d-flex justify-content-center">
            <h2 class="heading_style">Inqurey</h2>
        </div><br>
        <form method="post" action="{% url 'booking-estimate'%}">
            {% csrf_token %}
            <div class="form-group">
                <label for="pick_address">From:</label>
                <select id="pick_address" name="pick_address" required>
                    <option value="">From City</option>
                    {% for city in cities %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
                
            </div>

            <div class="form-group">
                <label for="deliver_address">To City:</label>
                <select id="deliver_address" name="deliver_address" required>
                    <option value="">To City</option>
                    {% for city in cities %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="parcel_type">Parcel Type:</label>
                <select id="parcel_type" name="parcel_type" required>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
            </div>
         
            <div class="form-group">
                <button type="submit" name="action" value="estimate">Get Estimate</button>
            </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </form>
    </center>
    {% endblock %}
</body>
</html>
