{% extends "home/hf.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Feedback Form</title>
</head>
<body>
    
    {% block page %}
    <center>
    
        <div class="d-flex justify-content-center">
            <h2 class="heading_style">Feedback</h2>
        </div><br>
    <form method="post" action="/feedback/">
        {% csrf_token %}
        {% comment %} <label for="customer_name">Name:</label>
        <input type="text" id="customer_name" name="customer_name" required><br>

        <label for="customer_contact">Contact:</label>
        <input type="text" id="customer_contact" name="customer_contact" required><br>

        <label for="customer_email">Email:</label>
        <input type="email" id="customer_email" name="customer_email" required><br> {% endcomment %}

        <label for="feedback_text">Anything for us?</label>
        <textarea id="feedback_text" name="feedback_text" rows="4" cols="50" required></textarea><br>

        {% comment %} <input type="submit" value="Submit Feedback"> {% endcomment %}
        <button type="submit">Submit</button>

    </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}



</center>
{% endblock %}

</body>
</html>
