{% extends 'admin/dsbrd2.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
        
</head>
<body>
    {% block content %}
    {% comment %} <center> {% endcomment %}
        

        

    {% comment %} <h1>Edit Profile</h1> {% endcomment %}
    <div class="container">
        <div class="col-12  ">
            <div class="d-flex justify-content-center">
                <h2 class="heading_style">Edit Profile</h2>
        </div>
        <form method="post">
        {% csrf_token %}

            <div class="row">
                <div class="col-25">
                    <label for="username">Username:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="username" name="username" value="{{ user.username }}">
                </div>
            </div> 

            <div class="row">
                <div class="col-25">
                    <label for="first_name">First Name:</label>
                </div>

                <div class="col-75">    
                    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
                </div>
            </div>

            <div class="row">
                <div class="col-25"> 
                    <label for="last_name">Last Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}">
                </div>

            </div>
    
            <div class="row">
                <div class ="col-25">
                    <label for="phone_number">Phone Number:</label>
                </div>
                <div class="col-75">    
                    <input type="text" id="phone_number" name="phone_number" value="{{ admin.phone_number }}">
                </div>
            </div>
            
            <div class="row">
                <div class ="col-25">
                    <label for="address">Address:</label>
                </div>
                <div class="col-75">
                    <textarea id="address" name="address">{{ admin.address }}</textarea><br>
                </div>
            </div>

            {% comment %} <input type="submit" value="Update Profile" class ="button"> {% endcomment %}
            <br>
            <div class="row">
                <button type="submit" class="button btn mb-5 mr-2 height-200 "  onclick="return confirm('do you want to Update the existing data?');" >Update Profile</button>
                <a href="/admin-profile/" class="button btn mb-5 mr-5 height-200 "  onclick="return confirm('Go Back to Previous Page');" style="position: relative; padding: 1%; margin: 1px;"><span>Back</a>
            </div>

            {% if messages %}
            <ul style="list-style-type: none; padding: 0; margin: 0;">
            {% for message in messages %}
                <li style="color: red; background-color: pink; padding: 10px; margin-bottom: 5px; border-radius: 5px;">
                    {{ message }}
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </form>
        {% comment %} </center> {% endcomment %}
    </div>
{% endblock %}
</body>
</html>
