{% extends 'admin/dsbrd2.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    {% block content %}
    
    <div class="d-flex justify-content-center mt-4">

        <div class="flex-column">

            <div class="d-flex justify-content-between">
                <h1>My Profile</h1>
            </div>
            {% comment %} <img src="/static/images/user.png" alt="Employee Image" class="profile-image" height="50px" width="50px"> {% endcomment %}
            <div class="">
                <p>Username: <b>{{ user.username }}</b></p>
                <p>First Name: <b>{{ user.first_name }}</b></p>
                <p>Last Name: <b>{{ user.last_name }}</b></p>
                <p>Role : <b>{{user.role}}</b>
                <p>Phone Number: <b>{{ admin.phone_number }}</b></p>
                <p>Address: <b>{{ admin.address }}</b></p>
                <a href="/admin-profile-edit/" class= "button">Edit Profile</a>
                <a href="/admin-dashboard" class="button" onclick="return confirm('Go Back to Previous Page');" >Back</a>
            </div>

        
    </div>
    {% endblock %}
</body>
</html>
