{% extends 'admin/custdsbrd.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
   
</head>
<body>
    {% block content %}
    {% comment %} <center> {% endcomment %}
    <div class="container">
        {% comment %} <h1>Edit Profile</h1> {% endcomment %}
        <form method="post">
        {% csrf_token %}
        <div class="row">

            <div class="col-25">
                <label for="username">Username:</label>
            </div>
            <div class="col-75"> 
                <input type="text" id="username" name="username" value="{{ user.username }}"><br><br>
            </div>
        </div> 
        <div class="row">

        
            <div class="col-25">    
                <label for="first_name">First Name:</label>
            </div>

            <div class="col-75">
                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}"><br><br>
            </div>

        </div>

        <div class="row">

            <div class="col-25">
                <label for="last_name">Last Name:</label>
            </div>

            <div class="col-75">
                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="phone_number">Phone Number:</label>
            </div>
            <div class="col-75">
                <input type="text" id="phone_number" name="phone_number" value="{{ customer.phone_number }}"><br><br>
            </div>
        </div>

        <div class="row">
            <div class ="col-25">
                <label for="address">Address:</label>
            </div>
            
            <div class="col-75">
                <textarea id="address" name="address">{{ customer.address }}</textarea><br><br>
            </div>
        </div>

        {% comment %} <input type="submit" value="Update Profile"> {% endcomment %}
        <div class="row">

            <button type="submit">Update Profile</button>
            <a href="/customer-profile/" class="link-button ml-6">Back</a>
        </div>       

    
        {% if messages %}
            <ul style="list-style-type: none; padding: 0; margin: 0;">
            {% for message in messages %}
            <li style="color: red; background-color: pink; padding: 10px; margin-bottom: 5px; border-radius: 5px;">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
    </form>
</div>
{% comment %} </center> {% endcomment %}
{% endblock %}
</body>
</html>
