{% extends 'admin/empdsbrd.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Message Table</title>
    
</head>
<body>
    {% block content %}
    <center>
        <div class="d-flex justify-content-between">

            {% comment %} <h2>Order is #<b>{{ booking.parcel.tracking_id }}</b></h2> {% endcomment %}
            <span></span>
            <a class="button" href="/employee-dashboard/" class="mr-4" onclick="return confirm('Go Back to Previous Page');">Back</a>
        </div>
        <h1>Message Table</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Message</th>
            </tr>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phonenumber }}</td>
                    <td>{{ contact.message }}</td>
                </tr>
                {% endfor %} 
        </table>
        {% for contact in contacts %}
        {% empty %}
            No Data found
        {% endfor %}
    </center>
    {% endblock %}
</body>
</html>
