{% extends 'admin/empdsbrd.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Feedback</title>
</head>
<body>
    {% block content %}
    <center>
    
    <h1>Delete Feedback</h1>
    
    

    <p>Are you sure you want to delete feedback of  {{ feedback.createdby.user.first_name }} {{ feedback.createdby.user.last_name }}?</p>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" onclick = "window.alert('Do You Want to Remove The Data ?')">Delete</button>
        <a href="/emp-feedback-list/" class="button" onclick="return confirm('Go Back to Previous Page');">Back</a>
    </form>
    <!-- Display messages -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
</center>
{% endblock %}
</body>
</html>
