{% extends 'admin/empdsbrd.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Table</title>
  
</head>
<body>
    {% block content %}
    <center>
        <div class="d-flex justify-content-between">

            {% comment %} <h2>Order is #<b>{{ booking.parcel.tracking_id }}</b></h2> {% endcomment %}
            <span></span>
            <a class="button" href="/employee-dashboard/" class="mr-4" onclick="return confirm('Go Back to Previous Page');" >Back</a>
        </div>
    <h1>Invoice Table</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Created On</th>
                <th>Customer Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
                {% comment %} <th>Booking ID</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.createdon }}</td>
                <td>{{ invoice.customername }}</td>
                <td>{{ invoice.description }}</td>
                <td>{{ invoice.price }}</td>
                <td>
                    {% if booking.payment_status != 'Pending' %}
                    <a class="button" href="/emp-invoice/{{ invoice.bookingid.id }}/">View Invoice</a>  

                    {% endif %}
                </td>
                {% comment %} <td>{{ invoice.bookingid.customer.name }}</td>  <!-- Access customer name --> {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% for invoice in invoices %}
        {% empty %}
                No Data found
        {% endfor %}
    </center>
{% endblock %}
</body>
</html>
